html,
body,
#root {
    position: absolute;
    margin: 0px;

    width: 100vw;
    height: 100vh;

    background-color: var(--accent-1);
}

#content {
    background-color: transparent;
}

* {
    scrollbar-width: none;
}

.radix-themes {
    --my-brand-color: #23a621;
    --indigo-9: var(--my-brand-color);
    --indigo-a9: var(--my-brand-color);
}