html,
body,
#root {
    width: 100vw;
    height: 100vh;

    background-color: var(--accent-1);

    margin: 0px;
}

#content {
    background-color: transparent;
}

* {
    scrollbar-width: none;
}

.radix-themes {
    --my-brand-color: #23a621;
    --indigo-9: var(--my-brand-color);
    --indigo-a9: var(--my-brand-color);
}